<div class="header">
    <h1>Hi ..!</h1>
    <router-outlet></router-outlet>
    <h5>
      My name is Takoua . 
       Graduated from Polytechnic school of Monastir in 2019 
       <br>as Software engineer .
       <br>
       I'm very passionate and dedicated to my work. I am passionate about AI and try always to discover new technologies trends . I am fast learner , autonomous, very motivated , with team spirit , a passion for design and capacity to face challenges .    </h5>
    <div class="bttns" style="display: none;">
      <a href="https://app.netlify.com/start/deploy?repository=https://github.com/netlify-templates/angular-quickstart" class="bttn primary">Deploy to Netlify</a>
      <a href="https://github.com/netlify-templates/angular-quickstart" class="bttn secondary">View Repo</a>
    </div>
  </div>