<section class="osp-root">
  <div class="header">
    <h2 class="osp-title">Our Service Procedure</h2>
    <p class="osp-subtitle">
      We follow a simple, straightforward process to ensure your complete
      satisfaction.
    </p>
  </div>

  <!-- Step cards (bottom) -->
  <div class="osp-cards">
    <mat-card class="osp-card" *ngFor="let step of steps; let i = index">
      <div class="osp-card-inner">
        <div class="osp-card-icon">
          <div class="osp-icon-circle">
            <mat-icon>{{ step.icon }}</mat-icon>
          </div>
        </div>

        <div class="osp-card-content">
          <div class="osp-card-step-number">
            Step {{ i + 1 | number : "2.0-0" }}
          </div>
          <h3 class="osp-card-title">
            {{ step.title }}
          </h3>
        </div>
        <div>
          <p class="osp-card-body">
            {{ step.description }}
          </p>
          <br />
          <p class="osp-card-cta">
            {{ step.cta }}
          </p>
        </div>
      </div>
    </mat-card>
  </div>
</section>
