<header class="page-header">
  <mat-toolbar class="top-toolbar">
    <div class="toolbar-inner">
      <div class="logo-area">
        <a routerLink="/" class="logo-link" aria-label="Go to home">
          <img
            src="assets/brand/logos/provolt-primary-logo.webp"
            alt="ProVolt logo"
            class="logo-img"
          />
        </a>
      </div>

      <nav class="nav-links desktop-nav">
        <ng-container *ngFor="let link of navLinks">
          <a mat-button *ngIf="!link.children" [routerLink]="link.path">
            {{ link.label }}
          </a>

          <div *ngIf="link.children">
            <button mat-button class="nav-link" [matMenuTriggerFor]="areasMenu">
              {{ link.label }}
              <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #areasMenu="matMenu">
              <a
                *ngFor="let child of link.children"
                mat-menu-item
                [routerLink]="child.path"
              >
                {{ child.label }}
              </a>
            </mat-menu>

            <nav class="sr-only" aria-hidden="true">
              <a
                *ngFor="let child of link.children"
                [attr.href]="child.path"
                (click)="$event.preventDefault()"
              >
                {{ child.label }}
              </a>
            </nav>
          </div>
        </ng-container>
      </nav>

      <button
        mat-icon-button
        class="mobile-menu-button"
        (click)="sidenav?.toggle()"
        aria-label="Open navigation menu"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>
</header>
