<section class="cta-section">
  <div class="cta-inner">
    <header class="cta-header">
      <h1 class="cta-title">Texas Hill Country Electrician</h1>
      <h2 class="cta-title cta-title--highlight">Licensed & Insured</h2>

      <p class="cta-subtitle">
        Serving Kerrville, Fredericksburg, Boerne, Bandera, Comfort, Ingram,
        Hunt, Center Point & Helotes.
      </p>

      <div class="call-to-action-buttons">
        <app-cta-button label="Call Now"> </app-cta-button>
        <!-- <app-cta-button label="Request a Quote"> </app-cta-button> -->
      </div>

      <!-- <button mat-flat-button class="cta-button" (click)="onCallNow()">
        Call Now
      </button>
      <button mat-stroked-button class="cta-button" (click)="onCallNow()">
        Request a Quote
      </button> -->
      <p class="trust-strip">
        Licensed • Insured • Code-Compliant Work • Fast Scheduling
      </p>
    </header>

    <!-- <div class="cta-cards">
      <mat-card class="cta-card" *ngFor="let card of heroServiceCards">
        <mat-card-title class="cta-card-title">
          {{ card.title }}
        </mat-card-title>
        <mat-card-content class="cta-card-content">
          {{ card.description }}
        </mat-card-content>
        <mat-card-actions align="start">
          <app-cta-button label="{{ card.ctaLabel }}"> </app-cta-button>
        </mat-card-actions>
      </mat-card>
    </div> -->
  </div>
</section>
