/* Section background */

.services-section {
  padding: 24px 24px 32px;
  background-color: var(--background);
}

.services-center {
  padding-top: 0;
  padding-bottom: 0;
}

.services-inner {
  margin: 0 auto;
}

/* Title */

.services-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: #111827;
}

.header {
  margin-bottom: 1.75rem;
  text-align: center;

  p {
    // max-width: 680px;
    margin: 0 auto;
    font-size: 0.98rem;
    line-height: 1.6;
  }
}

.header-left {
  text-align: left;
}

/* Cards grid */

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

/* Individual card */

.service-card {
  padding: 32px 32px 28px;
  text-align: center;
  border-radius: 18px;
  background-color: #ffffff;
}

/* Icon */

.service-icon-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.service-icon-circle {
  width: 54px;
  height: 54px;
  border-radius: 999px;
  background-color: #d9b524;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-icon-circle mat-icon {
  color: #ffffff;
  font-size: 26px;
}

/* Action */
.card-actions-container {
  margin-top: auto;
  justify-content: center;
}

/* Text */

.service-title {
  margin: 0 0 12px;
  font-size: 1.1rem;
  font-weight: 700;
  color: #111827;
}

.service-description {
  font-size: 0.95rem;
  line-height: 1.7;
  color: #4b5563;
}

.service-bullets {
  text-align: left;
}

/* Responsive */

@media (max-width: 1024px) {
  .services-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media (max-width: 640px) {
  .services-section {
    padding: 0 12px 0;
  }

  .services-grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .service-card {
    padding: 24px 20px 22px;
  }
}
