html,
body {
  height: 100%;
  margin: 0;
}

.app-sidenav-container {
  height: 100vh;
}

.app-sidenav {
  width: 300px;
  background-color: var(--brand-red);
  padding: 0.75rem 0.5rem 1rem;
  position: fixed;
}

.sidenav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem 0.5rem;
}

.sidenav-title {
  font-weight: 600;
  font-size: 0.95rem;
}
