<div id="header">
  <app-tool-bar></app-tool-bar>
  <!-- <app-action-banner></app-action-banner> -->
</div>
<div id="body">
  <!-- <app-trusted-summary></app-trusted-summary>
  <app-count-down-deal></app-count-down-deal>
  <app-electrical-service-cards></app-electrical-service-cards>
  <app-why-choose-us></app-why-choose-us>
  <app-our-services-procedure></app-our-services-procedure>
  <app-about-section-small></app-about-section-small>
  <app-areas-we-serve></app-areas-we-serve>
  <app-stay-connected-section></app-stay-connected-section> -->
  <router-outlet></router-outlet>
</div>
<div id="footer"><app-footer-section></app-footer-section></div>
