body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  /* Brand Colors */
  // --brand-red: #d6262b;
  --brand-red: #bf0404;
  --brand-yellow: #e6c612;
  --brand-yellow-02: #d9b524;
  --brand-yellow-03: #e9ca4e;
  --brand-black: #1a1a1a;
  --brand-grey: #7f7e7e;
  --brand-green: #4caf50;
  --brand-chips: #e0e0e0;

  --background-alt: #f7f5f0;
  --background: #ffffff;
  // --background: #f7f5f0;
  // --background-alt: #ffffff;
  --background-alt-02: #f0ede7;

  --text-primary: #2a2a2a;
  --text-primary-white: #ffffff;
  --text-secondary: #6b6b6b;
  --text-muted: #757575;
  --text-neutral: #9e9e9e;

  /* Icons */
  --icon-color: #ffffff;

  /* Headers */
  --header-primary: #1a1a1a;
  --header-secondary: var(--brand-red);

  /* Buttons */
  --btn-primary-bg: var(--brand-red);
  --btn-primary-text: #ffffff;
  --btn-primary-hover: #a02020;

  --btn-secondary-bg: var(--brand-yellow);
  --btn-secondary-text: #1a1a1a;
  --btn-secondary-hover: #e0ae00;

  --mat-divider-color: var(--text-neutral);
}

#body {
  background-color: var(--background);

  p {
    color: var(--text-primary);
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
  }

  mat-card {
    background-color: var(--background-alt);
    border-radius: 18px;
  }
}
